@font-face {
  font-family: "ZakathHeading";
  src: url("./assets/fonts/centurygothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZakathBody";
  src: url("./assets/fonts/centurygothic_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.zakath-screen {
  min-height: 100vh;
  background: #0f2e3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  
}

/* BACK BUTTON */
.zakath-back {
  font-family: "ZakathHeading", sans-serif;
  letter-spacing: 0.5px;
  align-self: flex-start;
  background: #1c4657;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  animation: fadeUp 0.7s ease both;
}

/* TITLE */
.zakath-title {
  text-align: center;
  margin-bottom: clamp(65px, 3vw, 69px);
  margin-top: clamp(60px, 3vw, 79px);
  animation: fadeUp 0.7s ease both;
}

.zakath-title h1 {
  color: white;
  letter-spacing: 2.px;
  margin: 0;
  animation: fadeUp 0.7s ease both;
}



/* MAIN BOX */
.zakath-box {
  width: 100%;
  max-width: 420px;
  background: #0c2630;
  border-radius: 55px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  animation: fadeUp 1.2s ease both;
}

/* BUTTONS */
.zakath-btn {
  position: relative;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: inset 10px 10px 16px #173342, inset -5px -5px 8px #1c3d4f;
}

.zakath-btn img {
  width: 100%;
  height: auto;
  border-radius: 40px;
  display: block;
  opacity: 30%;
}

/* TEXT OVER IMAGE */
.btn-text {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;

  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
  pointer-events: none; /* so click goes to button */
  font-family: "ZakathHeading", sans-serif;
}

/* Small phones */
@media (max-width: 380px) {
  .btn-text {
    font-size: 15px;
  }
}

.Head1 {
    font-family: "ZakathBody", sans-serif;
    
}

.Head2 {
    font-family: "ZakathHeading", sans-serif;
    letter-spacing: 0.7px;
    font-weight: 100;
}

.Head3 {
    font-size: 20px;
    font-family: "ZakathHeading", sans-serif;
    letter-spacing: 2px;
      position: absolute;
  top: 70%;
  left: 100%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  opacity: 10%;
    position: relative;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;

}

@keyframes fadeUp {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
